<nav class="navbar navbar-expand-lg navbar-light bg-light hVH">
  <a class="navbar-brand"
    href="/home">M120 AngularToolbox</a>
  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
    id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Features
        </a>
        <div class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
            routerLink="/breathalyzer">
            Breathalyzer
          </a>
          <a class="dropdown-item"
            routerLink="/metric-units">
            Metric-Units
          </a>
          <a class="dropdown-item"
            routerLink="/coordinates-visualizer">
            Coordinates-Visualizer
          </a>
          <a class="dropdown-item"
            routerLink="/hash-generator">
            Hash-Generator
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>