.mat-toolbar {

  .nav-link {
    color: white;
    font-weight: normal;
    transition: all .3s ease-in-out;
    display: block;
  }

  .nav-link-container {
    display: flex;
    margin-left: auto;
  }

  .nav-link:hover {
    transform: scale(1.1);
    text-decoration: none;
  }

  .active {
    //color: #888;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
  }

}
