.mat-toolbar {

  .nav-link {
    color: white;
    font-weight: normal;
    color: white;
    transition: all .3s ease-in-out;
    display: block;
  }

  .nav-link-container {
    display: flex;
    margin-left: auto;
  }

  .nav-link:hover {
    transform: scale(0.8);
    text-decoration: none;
  }

}
