<mat-toolbar class="nav"
  color='primary'>
  AngularToolbox
  <div class="nav-link-container">
    <span><a class="nav-link"
        routerLink="/metric-units">
        Metric-Units
      </a></span>

    <span><a class="nav-link"
        routerLink="/coordinates-visualizer">
        Coordinates-Visualizer
      </a></span>

    <span><a class="nav-link"
        routerLink="/hash-generator">
        Hash-Generator
      </a></span>

    <span><a class="nav-link"
        routerLink="/pythagoras">
        Pythagoras
      </a></span>
  </div>
</mat-toolbar>