:host {
  display: grid;
  grid-gap: 20px;
  grid-template:
    ".  input   visual ." auto
    ".  output  visual ." 300px
    ".  .       visual ." auto
    / auto 150px 1fr auto;
}

.input {
  grid-area: input;
}

.output {
  grid-area: output;
  overflow-y: scroll;
  overflow-x: hidden;
}

.visual {
  grid-area: visual;
  overflow: auto;
}

.form {
  display: grid;
  grid-gap: 10px;
}

.padding-right {
  margin-right: 10px;
}

.no-click {
  pointer-events: none;
}
