:host {
  display: grid;
  grid-gap: 20px;
  height: 94.6vh;
  grid-template:
    "input-x      input-y   button-add  visual " 50px
    "output       output    .           visual " 500px
    ".            .         .           visual " 1fr
    / 30px 30px auto 1fr;
}

.input-x {
  grid-area: input-x;
}

.input-y {
  grid-area: input-y;
}

.output {
  grid-area: output;
}

.button-add {
  grid-area: button-add;
}

.coordinates {
  grid-area: coordinates;
}

.visual {
  grid-area: visual;
  overflow: scroll;
}
