:host {
  display: grid;
  grid-gap: 20px;
  max-height: 100vh;
  grid-template:
    "input   visual " auto
    "output  visual " 300px
    ".       visual " 1fr
    / auto 1fr;
}

.input {
  grid-area: input;
}

.output {
  grid-area: output;
  overflow: auto;
}

.visual {
  grid-area: visual;
}

.form {
  display: grid;
  grid-gap: 10px;
}
