<form [formGroup]="coordinateForm"
  autocomplete="off"
  novalidate
  (ngSubmit)="createCoordinate(coordinateForm.value)">

  <mat-form-field class="input-x"
    formControlName="inputX">
    <input matInput
      type="text"
      placeholder="X"
      [(ngModel)]="inputCoordinate.X">
    <mat-hint>Not more then 2 characters long.</mat-hint>
    <mat-error *ngIf="hasError('inputX', 'required')">X is required</mat-error>
    <mat-error *ngIf="hasError('inputX', 'maxlength')">You have more than 2 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="input-y"
    formControlName="inputY">
    <input matInput
      type="text"
      placeholder="Y"
      [(ngModel)]="inputCoordinate.Y">
    <mat-hint>Not more then 2 characters long.</mat-hint>
    <mat-error *ngIf="hasError('inputY', 'required')">Y is required</mat-error>
    <mat-error *ngIf="hasError('inputY', 'maxlength')">You have more than 2 characters</mat-error>
  </mat-form-field>

  <button mat-raised-button
    [disabled]="!coordinateForm.valid"
    class="button-add"></button>

</form>

<button mat-raised-button
  class="button-generate"
  (click)="generate()">Generate</button>

<div class="output">
  <div *ngFor="let coordinate of coordinates">
    <span>X:{{ coordinate.X }}</span>
    <span> </span>
    <span>Y:{{ coordinate.Y }}</span>
  </div>
</div>


<div class="visual"
  id="visualisation"></div>