.result {
  font-size: 20px;
}

#tri {
  width: 0;
  height: 0;
  border-top-width: 100px;
  border-top-style: solid;
  border-top-color: transparent;
  border-right-width: 100px;
  border-right-style: solid;
}

.form {
  padding-left: 100px;
  padding-top: 50px;
  text-align: center;
}

.center{
    text-align: center;
}
