<form class="form">
  <mat-form-field name="numb" style="padding-right: 15px;">
    <input [(ngModel)]="numb" [ngModelOptions]="{ standalone: true }" matInput type="number" placeholder="Wert" />
  </mat-form-field>
  <span>&nbsp;</span>
  <mat-form-field style="padding-right: 20px;">
    <mat-label>Von</mat-label>
    <mat-select [(ngModel)]="from" name="from_select">
      <mat-option *ngFor="let unit of units" [value]="unit.value">
        {{ unit.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="inputTo">
    <mat-label>Zu</mat-label>
    <mat-select [(ngModel)]="to" name="to_select">
      <mat-option *ngFor="let unit of units" [value]="unit.value">
        {{ unit.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="output">&nbsp;{{ calc() }}&nbsp;</span>
  <!-- <p class="result">
        {{ numb }} <span style="color: red">{{ getName(from) }}</span> {{ calc() }}
        <span style="color: red">{{ getName(to) }}</span>
    </p> -->
</form>
