<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          SHA512
        </mat-panel-title>
        <mat-panel-description>
          Generierung von einem sicheren SHA512 Hash
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span>
        Geben Sie Ihr Passwort ein und klicken Sie auf 'Hash generieren' wodurch
        der SHA512 Hash generiert.
      </span>

      <form [formGroup]="hashInputForm" novalidate>
        <mat-form-field>
          <input matInput color='primary' formControlName="password" placeholder="Passwort Eingabe" type="password"
            [(ngModel)]="hashGenerator.password512" required />
        </mat-form-field>

        <button mat-button type="submit" [disabled]="!hashInputForm.valid" (click)="createSHA_512()" color="primary"
          class="generieren">
          Hash generieren <mat-icon class='icon'>create</mat-icon>
        </button>
      </form>

      <div id="hashOutput512" style="display: none">
        <mat-form-field>
          <input matInput color='primary' placeholder="SHA512 Hash von Passwort" [(ngModel)]="hashGenerator.hash512"
            [ngModelOptions]="{ standalone: true }" type="text" disabled readonly />
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          SHA256
        </mat-panel-title>
        <mat-panel-description>
          SHA256 Hash generieren
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span>
        Geben Sie Ihr Passwort ein und klicken Sie auf 'Hash generieren' wodurch
        der SHA256 Hash generiert.
      </span>

      <form [formGroup]="hashInputForm" novalidate>
        <mat-form-field>
          <input matInput color='primary' formControlName="password" placeholder="Passwort Eingabe" type="password"
            [(ngModel)]="hashGenerator.password256" required />
        </mat-form-field>

        <button mat-button type="submit" [disabled]="!hashInputForm.valid" (click)="createSHA_256()" color="primary"
          class="generieren">
          Hash generieren <mat-icon class='icon'>create</mat-icon>
        </button>
      </form>

      <div id="hashOutput256" style="display: none">
        <mat-form-field>
          <input matInput color='primary' placeholder="SHA512 Hash von Passwort" [(ngModel)]="hashGenerator.hash256"
            [ngModelOptions]="{ standalone: true }" type="text" disabled readonly />
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
